<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Customer</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<form action="#" th:action="@{/register}" th:object="${register}" method="post">
    <fieldset>
        <legend>Register</legend>

        <div class="form-group">
            <label class="col-sm-4 control-label">Username</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="username" placeholder="Username" name="username"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Repeat Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Password" name="confirmPassword">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-default" th:href="@{/}">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </div>
        </div>

    </fieldset>
</form>

</body>
</html>