<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<table border="1" style="width:300px">
    <tr>
        <td colspan="5" align="center"><b>Parts</b></td>
    </tr>
    <tr>
        <td><b>name</b></td>
        <td><b>price</b></td>
        <td><b>supplier</b></td>
        <td><b>quantity</b></td>
        <td><b>select</b></td>
    </tr>
    <tr th:each="part : ${parts}" th:object="${part}">
        <td th:text="*{name}"></td>
        <td th:text="*{price}"></td>
        <td th:text="*{supplierId}"></td>
        <td th:text="*{quantity}"></td>
        <td>
            <a class="btn btn-success btn-xs" th:href="@{/parts/{id}(id = ${part.id})}">Select</a>
        </td>
    </tr>
</table>
<a class="btn btn-default" th:href="@{/parts/create}">Create New Part</a>
<a class="btn btn-default btn-xs" th:href="@{/}">back &raquo;</a>
</body>
</html>