<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Customer</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<form th:action="@{/parts/edit/{id}(id=${id})}" th:object="${part}" method="post">
    <fieldset>
        <legend>Edit Part</legend>

        <div class="form-group">
            <label class="col-sm-4 control-label">Price</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="price" th:field="*{price}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Quantity</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="quantity" th:field="*{quantity}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-default" th:href="@{/parts/{id}(id = ${part.id})}">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </div>
        </div>

    </fieldset>
</form>

</body>
</html>