<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <th:block th:with="average = ${#aggregates.avg(collection)}">
        <div th:text="${average > 15 ? true : false}"></div>
    </th:block>
    <h1 th:text="|Hello, ${pesho}|"></h1>
    <form method="post" action="/students/create">
        <input type="text" name="name" />
        <input type="number" name="willToLive" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>