<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer by ID</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<table border="1" style="width:300px">
    <tr>
        <td colspan="3" align="center"><b>Car</b></td>
    </tr>
    <tr>
        <td><b>name</b></td>
        <td><b>bought cars count</b></td>
        <td><b>money spent</b></td>
    </tr>
    <tr>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.carsBought}"></td>
        <td th:text="${customer.totalMoneySpent}"></td>
    </tr>
</table>
<a class="btn btn-default btn-xs" th:href="@{/}">back &raquo;</a>
</body>
</html>