<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<table border="1" style="width:300px">
    <tr>
        <td colspan="3" align="center"><b>Cars</b></td>
    </tr>
    <tr>
        <td><b>make</b></td>
        <td><b>model</b></td>
        <td><b>travelled distance</b></td>
    </tr>
    <tr th:each="car : ${cars}" th:object="${car}">
        <td th:text="*{make}"></td>
        <td th:text="*{model}"></td>
        <td th:text="*{travelledDistance}"></td>
    </tr>
</table>
<a class="btn btn-default" th:href="@{/cars/create}">Create New Car</a>
<a class="btn btn-default btn-xs" th:href="@{/}">back &raquo;</a>
</body>
</html>